<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Please enter the secret password to become a member</h1>
    <form action="/become-member" method="post">
      <label for="memberPassword">
        Password:
        <input type="text" name="memberPassword" />
        <button type="submit">Become A Member</button>
      </label>
    </form>
  </body>
</html>
