<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Enter secret password to become an admin</h1>
    <form action="/become-admin" method="post">
      <label for="adminPassword">
        Password:
        <input type="password" name="adminPassword" required />
        <button type="submit">Submit</button>
      </label>
    </form>
  </body>
</html>
