<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Home</h1>
    <% if (locals.user) { %>
    <h2>Welcome Back <%= user.username %></h2>
    <a href="/become-member"><button>Become A Member</button></a>
    <a href="/become-admin"><button>Become An Admin</button></a>
    <a href="/new-message"><button>Create A Message</button></a>
    <% } else { %>
    <a href="/sign-up"><button>Sign Up</button></a>
    <a href="/log-in"><button>Login</button></a>
    <% } %> <% messages.forEach((message) => { %> <% if (locals.user &&
    locals.user.membership === true) { %>
    <div>Author: <%= message.first_name + ' ' + message.last_name %></div>
    <div>Date: <%= message.date %></div>
    <% } %>
    <div><%= message.message %></div>
    <% if (locals.user && locals.user.admin === true) { %>
    <form action="/" method="post" onsubmit="return confirm('Are you sure?')">
      <button type="submit">Delete Message</button>
    </form>
    <% } %> <% }) %>
  </body>
</html>
